@using EventManagementApiClientGenerated
@using Microsoft.AspNetCore.Mvc.Localization
@using TicketManagement.Common.DI
@using TicketManagement.WebUI.Helpers

@inject IViewLocalizer Localizer
@inject EventManagementApiClient EventManagementApiClient

@model ICollection<Event>

@{
    var isManageRole = User.IsInRole("Administrator") || User.IsInRole("EventManager");
}

@if (isManageRole)
{
    <div class="text-sm-center">
        <h5 class="display-4">@Localizer["Total Events:"] @((await EventManagementApiClient.GetAllEventsAsync()).Count())</h5>
    </div>
}

<div class="container">
    <div class="row">
        @{
            foreach (var evnt in Model)
            {
                <div class="col">
                    <form asp-controller="Event" asp-action="Index" asp-route-eventId="@evnt.Id" method="post" class="form-horizontal" role="form">
                        <button type="submit" class="invisible">
                            <div class="img__container visible">
                                <img class="image shadow-lg" alt="" src="@Url.Content(evnt.EventLogoImage)" />
                                <div class="img__description">
                                    <div class="text">
                                        <div class="img__header right" style="font-size: 0.75em;">@Html.ModifyDateTime(evnt.EventTime)</div>
                                        <div class="img__header left"><h2 style="text-decoration: none;">@evnt.Name</h2></div>
                                    </div>
                                    <div class="text">
                                        <div class="left">
                                            <p>@string.Concat(@evnt.Description.Substring(0, Math.Min(evnt.Description.Length, 45)), "...")</p>
                                        </div>
                                        <div class="right">
                                            <p>@(await EventManagementApiClient.GetSeatsAvailableCountAsync(evnt.Id)) / @(await EventManagementApiClient.GetSeatsCountAsync(evnt.LayoutId))</p>
                                        </div>
                                    </div>
                                    <div class="text">
                                        <div class="right">
                                            <p style="font-size: 0.75em;">@Localizer["Avalaible"]</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </button>
                    </form>
                    @if (isManageRole)
                    {
                        <form asp-action="Delete" asp-controller="EventsManagement" asp-route-eventId="@evnt.Id" method="post">
                            <a class="btn btn-sm btn-primary" asp-action="Edit" asp-controller="EventsManagement" asp-route-eventId="@evnt.Id">@Localizer["Edit"]</a>
                            @if (await EventManagementApiClient.IsAllAvailableSeatsAsync(evnt.Id))
                            {
                                <button type="submit" class="btn btn-sm btn-danger" onclick="@Html.Raw("return confirm('")@Localizer["Are you sure you want to delete this event?"]@Html.Raw("')")">@Localizer["Delete"]</button>
                            }
                        </form>
                    }
                </div>
            }
        }
    </div>
</div>
