@using Microsoft.AspNetCore.Mvc.Localization
@using TicketManagement.Common.DI
@using TicketManagement.WebUI.Models
@model EventModel

@inject IViewLocalizer Localizer
@inject ILayoutService LayoutService

@{
    var timezoneList = TimeZoneInfo.GetSystemTimeZones()
        ?.Select(c => new SelectListItem { Value = c.BaseUtcOffset.ToString(), Text = c.DisplayName })
        .ToList();
    var selectListLayoutsId = (await LayoutService.GetAllAsync())
        ?.Select(c => new SelectListItem { Value = Model.LayoutsId.FirstOrDefault(x => x == c.Id.ToString()), Text = c.Name })
        .Where(x => x.Value is not null).ToList();
}

<h3>@ViewData["Title"]</h3>
<div class="row">
    <div class="col-md-6">
        <form id="profile-form" method="post" asp-action="Insert" asp-controller="EventsManagement">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-floating">
                <input asp-for="Name" class="form-control" />
                <label asp-for="Name" class="form-label"></label>
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <input asp-for="Description" class="form-control" />
                <label asp-for="Description" class="form-label"></label>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <input asp-for="EventTime" class="form-control" asp-format="{0:yyyy-MM-ddTHH:mm}" />
                <label asp-for="EventTime" class="form-label"></label>
                <span asp-validation-for="EventTime" class="text-danger"></span>
                <div class="form-floating">
                    <select name="timeZone" asp-items="timezoneList" class="form-select"></select>
                    <label class="form-label">@Localizer["Time Zone for Event"]</label>
                </div>
            </div>
            <div class="form-floating">
                <input asp-for="EventEndTime" class="form-control" asp-format="{0:yyyy-MM-ddTHH:mm}" />
                <label asp-for="EventEndTime" class="form-label"></label>
                <span asp-validation-for="EventEndTime" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <input asp-for="EventLogoImage" class="form-control" />
                <label asp-for="EventLogoImage" class="control-label"></label>
                <span asp-validation-for="EventLogoImage" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <select name="layoutId" asp-items="selectListLayoutsId" class="form-select"></select>
                <label class="form-label">@Localizer["Area"]</label>
            </div>
            <div class="form-floating">
                <input asp-for="Price" class="form-control" />
                <label asp-for="Price" class="control-label"></label>
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="table-active invisible">
                @foreach (var layoutsId in Model.LayoutsId)
                {
                    <input name="layoutsId" value="@layoutsId" hidden />
                }
            </div>
            <button type="submit" class="w-100 btn btn-lg btn-primary">@Localizer["Create Event"]</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
