@using Microsoft.AspNetCore.Mvc.Localization
@using TicketManagement.Common.DI
@using TicketManagement.Common.Entities

@inject IViewLocalizer Localizer

@model IEnumerable<Layout>

<div class="form-group">
    <div class="wrap">
        <div class="left">
            <table class="table">
                <tr><th>@Localizer["Name"]</th><th>@Localizer["Description"]</th></tr>
                @foreach (var layout in Model)
                {
                    <tr>
                        <td>
                            @layout.Name;
                            <br />
                        </td>
                        <td>
                            @layout.Description;
                            <br />
                        </td>
                    </tr>
                }
            </table>
        </div><div class="right">
            <table class="table">
                <tr><th></th></tr>
                <tr>
                    <td>
                        <form asp-action="Insert" asp-controller="EventsManagement" method="get">
                            <input type="hidden" />
                            <div class="table-active">
                                @foreach (var layout in Model)
                                {
                                    <input type="checkbox" name="layoutsId" value="@layout.Id" checked/>
                                    <hr />
                                }
                            </div>
                            <button type="submit" class="btn btn-primary">@Localizer["Select"]</button>
                        </form>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>