@using Microsoft.AspNetCore.Mvc.Localization
@using TicketManagement.Common.Entities

@model IEnumerable<Venue>
@inject IViewLocalizer Localizer

<table class="table">
    <tr><th>@Localizer["Name"]</th><th>@Localizer["Description"]</th><th>@Localizer["Address"]</th><th>@Localizer["Phone"]</th><th></th><th></th></tr>
    @foreach (var venue in Model)
    {
        <tr>
            <td>@venue.Name</td>
            <td>@venue.Description</td>
            <td>@venue.Address</td>
            <td>@venue.Phone</td>
            <td>
                <form asp-action="Delete" asp-route-id="@venue.Id" method="post">
                    <a class="btn btn-sm btn-primary" asp-action="Edit" asp-route-id="@venue.Id">@Localizer["Edit"]</a>
                    <button type="submit" class="btn btn-sm btn-danger">@Localizer["Delete"]</button>
                </form>
            </td>
        </tr>
    }
    <tr><a class="btn btn-sm btn-block btn-success" asp-action="Create">@Localizer["Add venue"]</a></tr>
</table>