@using Microsoft.AspNetCore.Mvc.Localization
@using TicketManagement.Common.Identity

@model IEnumerable<User>
@inject IViewLocalizer Localizer

<table class="table">
    <tr><th>@Localizer["User Name"]</th><th>@Localizer["First Name"]</th><th>@Localizer["Sur Name"]</th><th>@Localizer["Email"]</th><th>@Localizer["PhoneNumber"]</th><th>@Localizer["Role"]</th><th></th></tr>
    @foreach (var user in Model)
    {
        <tr>
            <td>@user.UserName</td>
            <td>@user.FirstName</td>
            <td>@user.SurName</td>
            <td>@user.Email</td>
            <td>@user.PhoneNumber</td>
            <td>
                <a class="btn btn-sm btn-primary" asp-action="ChangeRole" asp-route-userid="@user.Id">@Localizer["Change role"]</a>
            </td>
            <td>
                <form asp-action="Delete" asp-route-id="@user.Id" method="post">
                    <a class="btn btn-sm btn-primary" asp-action="Edit" asp-route-id="@user.Id">@Localizer["Edit"]</a>
                    <button type="submit" class="btn btn-sm btn-danger">@Localizer["Delete"]</button>
                </form>
            </td>
        </tr>
    }
    <tr><a class="btn btn-sm btn-block btn-success" asp-action="Create">@Localizer["Add user"]</a></tr>
</table>