@using Microsoft.AspNetCore.Mvc.Localization
@using TicketManagement.MVC.Helpers
@using ThirdPartyEventEditor.Models

@inject IViewLocalizer Localizer

@model IEnumerable<ThirdPartyEvent>

<div class="text-sm-center">
    <h5 class="display-4">@Localizer["Total ThirdPartyEvents to Add:"] @(Model.Count())</h5>
</div>

<div class="container">
    <div class="row">
        @{
            foreach (var thirdPartyEvent in Model)
            {
                <div class="col">
                    <form asp-controller="ThirdPartyEvents" asp-action="Add" method="post" class="form-horizontal" role="form">
                        <div class="img__container visible">
                            <input name="event.EventLogoImage" value="@thirdPartyEvent.EventLogoImage" hidden />
                            <img class="image shadow-lg" alt="" src="@Url.Content(thirdPartyEvent.EventLogoImage)" />
                            <div class="img__description">
                                <div class="text">
                                    <input name="event.EventTime" value="@thirdPartyEvent.EventTime" hidden />
                                    <input name="event.EventEndTime" value="@thirdPartyEvent.EventEndTime" hidden />
                                    <div class="img__header right" style="font-size: 0.75em;">@Html.ModifyDateTime(thirdPartyEvent.EventTime)</div>
                                    <input name="event.Name" value="@thirdPartyEvent.Name" hidden />
                                    <div class="img__header left"><h2 style="text-decoration: none;">@thirdPartyEvent.Name</h2></div>
                                </div>
                                <div class="text">
                                    <div class="left">
                                        <input name="thirdPartyEventPrice" value="@thirdPartyEvent.Price" hidden />
                                        <p>@Html.DisplayFor(model => thirdPartyEvent.Price)</p>
                                    </div>
                                    <div class="right">
                                        <input name="event.LayoutId" value="@thirdPartyEvent.LayoutId" hidden />
                                        <p>@thirdPartyEvent.LayoutId</p>
                                    </div>
                                </div>
                                <div class="text">
                                    <div class="right">
                                        <p style="font-size: 0.75em;">@Localizer["Layout"]</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="text">
                            <input name="event.Description" value="@thirdPartyEvent.Description" hidden />
                            <p>@thirdPartyEvent.Description</p>
                        </div>
                        <input class="btn btn-sm btn-primary" type="submit" value="@Localizer["Add"]" />
                    </form>
                    <form asp-controller="ThirdPartyEvents" asp-action="Delete" asp-route-thirdPartyEventName="@thirdPartyEvent.Name" asp-route-thirdPartyEventTime="@thirdPartyEvent.EventTime" asp-route-thirdPartyEventDescription="@thirdPartyEvent.Description" method="post">
                        <button type="submit" class="btn btn-sm btn-danger" onclick="@Html.Raw("return confirm('")@Localizer["Are you sure you want to delete this ThirdPartyEvent?"]@Html.Raw("')")">@Localizer["Delete"]</button>
                    </form>
                </div>
            }
        }
    </div>
</div>
