@using ThirdPartyEventEditor.Models

@model IEnumerable<ThirdPartyEvent>

@{
    var idIterator = 0;
}

@section scripts {
    <script>
        function clickAdd() {
            $('#thirdPartyEventAddDivName').removeAttr('hidden');
            $('#thirdPartyEventAddDivEventTime').removeAttr('hidden');
            $('#thirdPartyEventAddDivEventEndTime').removeAttr('hidden');
            $('#thirdPartyEventAddDivDescription').removeAttr('hidden');
            $('#thirdPartyEventAddDivLayoutId').removeAttr('hidden');
            $('#thirdPartyEventAddDivPrice').removeAttr('hidden');
            $('#thirdPartyEventAddDivEventLogoImage').removeAttr('hidden');
            $('#thirdPartyEventAddDivButton').removeAttr('hidden');
            $('#thirdPartyEventAddButton' + iter).attr('hidden', 'hidden');
        }
        function clickEdit(iter) {
            $('#thirdPartyEventEditorName' + iter).removeAttr('hidden');
            $('#thirdPartyEventEditorEventTime' + iter).removeAttr('hidden');
            $('#thirdPartyEventEditorEventEndTime' + iter).removeAttr('hidden');
            $('#thirdPartyEventEditorDescription' + iter).removeAttr('hidden');
            $('#thirdPartyEventEditorEventLogoImage' + iter).removeAttr('hidden');
            $('#thirdPartyEventEditorLayoutId' + iter).removeAttr('hidden');
            $('#thirdPartyEventEditorPrice' + iter).removeAttr('hidden');
            $('#thirdPartyEventEditorButton' + iter).removeAttr('hidden');
            $('#thirdPartyEventViewerName' + iter).attr('hidden', 'hidden');
            $('#thirdPartyEventViewerEventTime' + iter).attr('hidden', 'hidden');
            $('#thirdPartyEventViewerEventEndTime' + iter).attr('hidden', 'hidden');
            $('#thirdPartyEventViewerDescription' + iter).attr('hidden', 'hidden');
            $('#thirdPartyEventViewerEventLogoImage' + iter).attr('hidden', 'hidden');
            $('#thirdPartyEventViewerLayoutId' + iter).attr('hidden', 'hidden');
            $('#thirdPartyEventViewerPrice' + iter).attr('hidden', 'hidden');
            $('#thirdPartyEventViewerButton' + iter).attr('hidden', 'hidden');
        }
    </script>
}

<h2>Events</h2>

<p>
    <input id="thirdPartyEventAddButton" type="button" value="Create Event" onclick="clickAdd()" />
</p>
<table>
    <tr>
        <th>
            @Html.Label("Name")
        </th>
        <th>
            @Html.Label("Event time")
        </th>
        <th>
            @Html.Label("Event end time")
        </th>
        <th>
            @Html.Label("Description")
        </th>
        <th>
            @Html.Label("Layout ID")
        </th>
        <th>
            @Html.Label("Price")
        </th>
        <th>
            @Html.Label("Event Image")
        </th>
        <th>
            @Html.Label("Action")
        </th>
    </tr>
    <tr></tr>
    <tr>
        @using (Html.BeginForm("InsertThirdPartyEvent", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <td>
                <div id="thirdPartyEventAddDivName" hidden>
                    <input name="name" />
                </div>
            </td>

            <td>
                <div id="thirdPartyEventAddDivEventTime" hidden>
                    <input type="datetime-local" name="eventTime" />
                </div>
            </td>

            <td>
                <div id="thirdPartyEventAddDivEventEndTime" hidden>
                    <input type="datetime-local" name="eventEndTime" />
                </div>
            </td>

            <td>
                <div id="thirdPartyEventAddDivDescription" hidden>
                    <input name="description" />
                </div>
            </td>

            <td>
                <div id="thirdPartyEventAddDivLayoutId" hidden>
                    <input name="LayoutId" />
                </div>
            </td>

            <td>
                <div id="thirdPartyEventAddDivPrice" hidden>
                    <input name="Price" />
                </div>
            </td>

            <td>
                <div id="thirdPartyEventAddDivEventLogoImage" hidden>
                    <input type="file" name="eventLogoImageData" />
                </div>
            </td>

            <td>
                <div id="thirdPartyEventAddDivButton" hidden>
                    <input type="submit" value="Add" />
                </div>
            </td>
        }
    </tr>
    @foreach (var thirdPartyEvent in Model)
    {
        idIterator++;
        <tr>
            <td>
                <div id="@Html.Raw("thirdPartyEventViewerName" + idIterator)">
                    @Html.DisplayFor(modelItem => thirdPartyEvent.Name)
                </div>
            </td>
            <td>
                <div id="@Html.Raw("thirdPartyEventViewerEventTime" + idIterator)">
                    @Html.DisplayFor(modelItem => thirdPartyEvent.EventTime)
                </div>
            </td>
            <td>
                <div id="@Html.Raw("thirdPartyEventViewerEventEndTime" + idIterator)">
                    @Html.DisplayFor(modelItem => thirdPartyEvent.EventEndTime)
                </div>
            </td>
            <td>
                <div id="@Html.Raw("thirdPartyEventViewerDescription" + idIterator)">
                    @Html.DisplayFor(modelItem => thirdPartyEvent.Description)
                </div>
            </td>
            <td>
                <div id="@Html.Raw("thirdPartyEventViewerLayoutId" + idIterator)">
                    @Html.DisplayFor(modelItem => thirdPartyEvent.LayoutId)
                </div>
            </td>
            <td>
                <div id="@Html.Raw("thirdPartyEventViewerPrice" + idIterator)">
                    @Html.DisplayFor(modelItem => thirdPartyEvent.Price)
                </div>
            </td>
            <td>
                <div id="@Html.Raw("thirdPartyEventViewerEventLogoImage" + idIterator)">
                    <img src="@thirdPartyEvent.EventLogoImage" alt="" />
                </div>
            </td>
            <td>
                @using (Html.BeginRouteForm("Default", new { action = "DeleteThirdPartyEvent", controller = "Home" }))
                {
                    <input name="thirdPartyEvent" value="@Json.Encode(thirdPartyEvent)" hidden />
                    <div id="@Html.Raw("thirdPartyEventViewerButton" + idIterator)">
                        <input type="button" value="Edit" class="Edit" onclick="clickEdit(@idIterator)" />
                        <input type="submit" value="Delete" />
                    </div>
                }
            </td>
        </tr>
        <tr>
            @using (Html.BeginForm("UpdateThirdPartyEvent", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                <td>
                    <div id="@Html.Raw("thirdPartyEventEditorName" + idIterator)" hidden>
                        <input name="name" value="@thirdPartyEvent.Name" />
                    </div>
                </td>

                <td>
                    <div id="@Html.Raw("thirdPartyEventEditorEventTime" + idIterator)" hidden>
                        <input name="eventTime" type="datetime-local" value="@thirdPartyEvent.EventTime.ToString()" />
                    </div>
                </td>

                <td>
                    <div id="@Html.Raw("thirdPartyEventEditorEventEndTime" + idIterator)" hidden>
                        <input name="eventEndTime" type="datetime-local" value="new Date(@thirdPartyEvent.EventEndTime.ToLongTimeString())" />
                        <h1>
                            <script>@thirdPartyEvent.EventEndTime.ToString()</script>
                        </h1>
                    </div>
                </td>

                <td>
                    <div id="@Html.Raw("thirdPartyEventEditorDescription" + idIterator)" hidden>
                        <input name="description" value="@thirdPartyEvent.Description" />
                    </div>
                </td>

                <td>
                    <div id="@Html.Raw("thirdPartyEventEditorLayoutId" + idIterator)" hidden>
                        <input name="LayoutId" value="@thirdPartyEvent.LayoutId" />
                    </div>
                </td>

                <td>
                    <div id="@Html.Raw("thirdPartyEventEditorPrice" + idIterator)" hidden>
                        <input name="Price" value="@thirdPartyEvent.Price" />
                    </div>
                </td>

                <td>
                    <div id="@Html.Raw("thirdPartyEventEditorEventLogoImage" + idIterator)" hidden>
                        <input type="file" name="eventLogoImageData" />
                    </div>
                </td>

                <td>
                    <input name="thirdPartyEvent" value="@Json.Encode(thirdPartyEvent)" hidden />
                    <div id="@Html.Raw("thirdPartyEventEditorButton" + idIterator)" hidden>
                        <input type="submit" value="Save" />
                    </div>
                </td>
            }
        </tr>
    }
</table>