@using Microsoft.AspNetCore.Mvc.Localization
@using TicketManagement.Common.DI
@using TicketManagement.Common.Entities

@inject IViewLocalizer Localizer

@model IEnumerable<Venue>

@{
    ViewData["Title"] = Localizer["Event Management"];
}

<div class="form-group">
    <div class="wrap">
        <div class="left">
            <table class="table">
                <tr><th>Name</th><th>Description</th><th>Address</th><th>Phone</th></tr>
                @foreach (var venue in Model)
                {
                    <tr>
                        <td>
                            @venue.Name;
                            <br />
                        </td>
                        <td>
                            @venue.Description;
                            <br />
                        </td>
                        <td>
                            @venue.Address;
                            <br />
                        </td>
                        <td>
                            @venue.Phone;
                            <br />
                        </td>
                    </tr>
                }
            </table>
        </div><div class="right">
            <table class="table">
                <tr><th></th></tr>
                <tr>
                    <td>
                        <form asp-action="SelectLayouts" asp-controller="EventManagement" method="post">
                            <input type="hidden" />
                            <div class="table-active">
                                @foreach (var venue in Model)
                                {
                                    <input type="checkbox" name="venuesId" value="@venue.Id" />
                                    <hr />
                                }
                            </div>
                            <button type="submit" class="btn btn-primary">Select</button>
                        </form>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>