@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer

@if (User.Identity is not null && User.Identity.IsAuthenticated)
{
    <ul class="navbar-nav">
        @if (User.IsInRole("EventManager") || User.IsInRole("Administrator"))
        {
            <li class="nav-item">
                <a class="nav-link text-dark" asp-controller="EventsManagement" asp-action="SelectVenues" >@Localizer["Create event"]</a>
            </li>
        }
        @if (User.IsInRole("Administrator"))
        {
            <li class="nav-item">
                <a class="nav-link text-dark" asp-controller="AreasManagement" asp-action="Index" >@Localizer["Areas management"]</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-controller="LayoutsManagement" asp-action="Index" >@Localizer["Layouts management"]</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-controller="VenuesManagement" asp-action="Index" >@Localizer["Venues management"]</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-controller="UsersManagement" asp-action="Index" >@Localizer["Users management"]</a>
            </li>
        }
        @if (User.IsInRole("User") || User.IsInRole("EventManager") || User.IsInRole("Administrator"))
        {
            <li class="nav-item">
                <a class="nav-link text-dark" asp-controller="Home" asp-action="Cart" asp-action="Index" >@Localizer["Cart"]</a>
            </li>
        }
    </ul>
}
